<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>smokeTestScripts.AutoCA</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC009__SIL1079211_Execute_AutoEquipmentAndRecipeInhibit_CA_forSingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC001__SIL741_ImplementCorrectHandling_WhenReleasing_OOC_OOS_Other_Responses</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC006__SIL144_Inhibit_RouteAfter_OOC_violations</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC005__SIL566_ListeningModeIgnoredBy_SIL_LOT_GroupingParameters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC002__SIL131_ReleaseLotAnd_ReleaseInhibitEquipmentby_SiView</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initaiteData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyServerConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReleaseLotAndDeleteChannel</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>smokeTestScripts.ManualCA</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC008__SIL536_ManualRel_ReleaseChamberInhibit_violationcomment_with_Wrong_CH1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC003and004__SIL960And961_ReleasingCAs_withoutDefault</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC010__SIL1079211R_Execute_RouteInhibitCA_forSingleLotWIPDCRandverifySiViewscreens</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC007__SIL535_ManualRel_ReleaseEquipmentInhibit_violationcomment_with_Wrong_CH1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_TC011__MSR_14_TC_2Perform_LotHoldCA_forMultiLot_andValidateClaimMemo</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initaiteData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyServerConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReleaseLotAndDeleteChannel</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
