<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7dd167">  <td>20/06/11 14:36:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoCA.GF_SIL_TC002__SIL131_ReleaseLotAnd_ReleaseInhibitEquipmentby_SiView()[pri:0, instance:smokeTestScripts.AutoCA@5d11346a]">GF_SIL_TC002__SIL131_ReleaseLotAnd_ReleaseInhibitEquipmentby_SiView</td> 
  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:38:00</td>   <td>106053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManualCA.GF_SIL_TC010__SIL1079211R_Execute_RouteInhibitCA_forSingleLotWIPDCRandverifySiViewscreens()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">GF_SIL_TC010__SIL1079211R_Execute_RouteInhibitCA_forSingleLotWIPDCRandverifySiViewscreens</td> 
  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:41:12</td>   <td>297641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManualCA.GF_SIL_TC011__MSR_14_TC_2Perform_LotHoldCA_forMultiLot_andValidateClaimMemo()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">GF_SIL_TC011__MSR_14_TC_2Perform_LotHoldCA_forMultiLot_andValidateClaimMemo</td> 
  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="7dd167">  <td>20/06/11 14:37:50</td>   <td>95963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AutoCA.ReleaseLotAndDeleteChannel()[pri:0, instance:smokeTestScripts.AutoCA@5d11346a]">&lt;&lt;ReleaseLotAndDeleteChannel</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:41:03</td>   <td>288602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManualCA.ReleaseLotAndDeleteChannel()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">&lt;&lt;ReleaseLotAndDeleteChannel</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:43:53</td>   <td>458739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManualCA.ReleaseLotAndDeleteChannel()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">&lt;&lt;ReleaseLotAndDeleteChannel</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="7dd167">  <td>20/06/11 14:36:12</td>   <td>-2637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AutoCA.VerifyServerConnection()[pri:0, instance:smokeTestScripts.AutoCA@5d11346a]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:38:00</td>   <td>106052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManualCA.VerifyServerConnection()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:41:12</td>   <td>297641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManualCA.VerifyServerConnection()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="7dd167">  <td>20/06/11 14:36:11</td>   <td>-3391</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AutoCA.initaiteData()[pri:0, instance:smokeTestScripts.AutoCA@5d11346a]">&gt;&gt;initaiteData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
<tr bgcolor="eca56e">  <td>20/06/11 14:38:00</td>   <td>106048</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManualCA.initaiteData()[pri:0, instance:smokeTestScripts.ManualCA@7a36aefa]">&gt;&gt;initaiteData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230528013</td>   <td></td> </tr>
</table>
