<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>regressionSuite.CorrectiveAction</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA048__Offlinechannel_with_noCA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA007__AutoMachineRecipeInhibit_for_SingleLotWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA054__MSR1547987_1_SetLotScriptParameterCAusingattributes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA023__Exist_AutoRouteInhibit_forSingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA071__MSR1211201_2_VerifyifSendPCLData_BatchProdDICAworksusingattributes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA021__MSR_14__ReleaseLotHoldmanually</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA026__AutoBatchLotHold_for_SingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA060__MSR1547987_7_SetWaferScriptParameterCAusingattributes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA011__AutoHoldAtFuturePD_for_SingleLotWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA008__EquipmentInhibit_for_SingleLotWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA024__Exist_MachineRecipeInhibit_forSingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA025__ReleaseEquipmentInhibit_forSingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA029__AutoEquipmentInhibit_for_NonWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA022__Exist_AutoChamberInhibit_forSingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA043__1132965_1_EquipmentInhibit_CA_usingExtDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA014__MSR_1_TC_2_AutoChamberAndRecipeInhibit_for_SingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA044__1132965_2_ChamberInhibit_CA_usingExtDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA055__MSR1547987_2_SetLotScriptParameterCAusingattributeswithnoCAcomment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA033__MSR1251726_03AutoRaiseMRB_functionality_for_nonWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA072__MSR1211201_3_VerifyifAutoSendPCLData_BatchProdDICAdoesnotworkwhennoPDfound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA027__CancelLotHold_for_SingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA012__HoldAtFuturePD_for_SingleLotWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA015__AutoReticleInhibitCA_for_SingleLotWIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA042__691919_1_AutoLotHold_CAforExtended_DCRs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA003__AutoCA_Responsible_PD_information_provided_inthe_ExtendedDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA059__MSR1547987_6_SetWaferScriptParameterCAusingattributesforallwafers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA013__Non_WIPDCRexecute_ReticleInhibit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA019__MSR_14_AutoCA_usingExtended_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA045__CAfailurewithnoreasoncodes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA010__ReleaseReticleInhibit_for_SingleLot_WIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA056__MSR1547987_3_SetLotScriptParameterCAwithoutPullScriptParameterValueattribute</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA031__AutoReticalInhibit_for_NonWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA036__MSR1311935_02_AutoSendPCLWfrProp_CA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA032__MSR1251726_01_MRB_request_for_AutoRaiseMRB</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA039__MSR1305071_7_SendPCLLotProp_CA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA070__MSR1211201_1_VerifyifAutoSendPCLData_BatchProdDICAworksusingattributes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA040__MSR1108802_01_EquipmentAndRecipeInhibit_CA_for_singleLotWIP_DCRwithNo_attributes_set</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA030__EquipmentInhibit_for_NonWIP_DCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA037__MSR1311935_07_AutoSendPCLLotProp_CA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA073__MSR1211201_4_VerifyifSendPCLData_BatchProdDICAdoesnotworkwhennoPDfound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA020__MSR_14_LotHoldCA_using_ExtendedDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA009__ReticleInhibit_for_SingleLot_WIPDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA002__AutoEquipmentAndRecipeInhibit_CA_for_SingleLot_using_3processDCR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA041__MSR1108802_19_ChamberAndRecipeInhibitCA_withNo_attributes_set</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CA018__LotHoldCA_for_MultiLot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initaiteData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyServerConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DeleteChannel</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
