<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>regressionSuite.ChartCheck_Failure</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF02__Simple_ChartCheckFailure_Active_in_InlineLDS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF01__InlineLDS_ChartCheckFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF05__InlineLDS_ChartCheckFailure_withSpaceScenario_NoHoldCC</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF03__Complex_ChartCheckFailure_Active_in_InlineLDS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF06__InlineLDS_ChartCheckFailure_withSpaceScenario_NoCC</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF08and10__SetupLDSMissing_ParameterCheckFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF07and09__InlineLDSMissing_ParameterCheckFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF11__AutochartingFailure_in_Inline_LDS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF12__AutochartingFailure_in_Setup_LDS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GF_SIL_CCF04__InlineLDS_ChartCheckFailure_withCriticality_setBackground</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initaiteData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyServerConnection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DeleteChannel</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
