<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:16</td>   <td>0</td> <td title="&gt;&gt;ChartCheck_Failure.Pre_Execution()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;Pre_Execution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:54</td>   <td>38148</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.initaiteData()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;initaiteData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:56</td>   <td>40321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:56</td>   <td>40322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF01__InlineLDS_ChartCheckFailure()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF01__InlineLDS_ChartCheckFailure</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:46:16</td>   <td>420786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:46:21</td>   <td>425466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:46:21</td>   <td>425466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF02__Simple_ChartCheckFailure_Active_in_InlineLDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF02__Simple_ChartCheckFailure_Active_in_InlineLDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:51:00</td>   <td>704832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:51:04</td>   <td>708696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:51:04</td>   <td>708696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF03__Complex_ChartCheckFailure_Active_in_InlineLDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF03__Complex_ChartCheckFailure_Active_in_InlineLDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:56:10</td>   <td>1014422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:56:15</td>   <td>1019463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:56:15</td>   <td>1019464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF04__InlineLDS_ChartCheckFailure_withCriticality_setBackground()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF04__InlineLDS_ChartCheckFailure_withCriticality_setBackground</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:01:17</td>   <td>1321812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:01:23</td>   <td>1327131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:01:23</td>   <td>1327131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF05__InlineLDS_ChartCheckFailure_withSpaceScenario_NoHoldCC()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF05__InlineLDS_ChartCheckFailure_withSpaceScenario_NoHoldCC</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:06:20</td>   <td>1624312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:06:49</td>   <td>1653516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:06:49</td>   <td>1653516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF06__InlineLDS_ChartCheckFailure_withSpaceScenario_NoCC()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF06__InlineLDS_ChartCheckFailure_withSpaceScenario_NoCC</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:10:59</td>   <td>1903489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:11:21</td>   <td>1925587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:11:21</td>   <td>1925587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF07and09__InlineLDSMissing_ParameterCheckFailure()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF07and09__InlineLDSMissing_ParameterCheckFailure</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:16:00</td>   <td>2204198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:16:05</td>   <td>2208985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:16:05</td>   <td>2208985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF08and10__SetupLDSMissing_ParameterCheckFailure()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF08and10__SetupLDSMissing_ParameterCheckFailure</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:21:06</td>   <td>2510687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:21:13</td>   <td>2517369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:21:13</td>   <td>2517369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF11__AutochartingFailure_in_Inline_LDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF11__AutochartingFailure_in_Inline_LDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:37:36</td>   <td>3500652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:37:39</td>   <td>3503091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:37:39</td>   <td>3503091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF12__AutochartingFailure_in_Setup_LDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF12__AutochartingFailure_in_Setup_LDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:45:13</td>   <td>3957478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
</table>
