<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:46:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:51:00</td>   <td>284046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:56:10</td>   <td>593636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:01:17</td>   <td>901026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:06:20</td>   <td>1203526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:10:59</td>   <td>1482703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:16:00</td>   <td>1783412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:21:06</td>   <td>2089901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:37:36</td>   <td>3079866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:45:13</td>   <td>3536692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChartCheck_Failure.DeleteChannel()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&lt;&lt;DeleteChannel</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:56</td>   <td>-380464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF01__InlineLDS_ChartCheckFailure()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF01__InlineLDS_ChartCheckFailure</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:46:21</td>   <td>4680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF02__Simple_ChartCheckFailure_Active_in_InlineLDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF02__Simple_ChartCheckFailure_Active_in_InlineLDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:51:04</td>   <td>287910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF03__Complex_ChartCheckFailure_Active_in_InlineLDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF03__Complex_ChartCheckFailure_Active_in_InlineLDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:56:15</td>   <td>598678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF04__InlineLDS_ChartCheckFailure_withCriticality_setBackground()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF04__InlineLDS_ChartCheckFailure_withCriticality_setBackground</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:01:23</td>   <td>906345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF05__InlineLDS_ChartCheckFailure_withSpaceScenario_NoHoldCC()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF05__InlineLDS_ChartCheckFailure_withSpaceScenario_NoHoldCC</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:06:49</td>   <td>1232730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF06__InlineLDS_ChartCheckFailure_withSpaceScenario_NoCC()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF06__InlineLDS_ChartCheckFailure_withSpaceScenario_NoCC</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:11:21</td>   <td>1504801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF07and09__InlineLDSMissing_ParameterCheckFailure()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF07and09__InlineLDSMissing_ParameterCheckFailure</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:16:05</td>   <td>1788199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF08and10__SetupLDSMissing_ParameterCheckFailure()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF08and10__SetupLDSMissing_ParameterCheckFailure</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:21:13</td>   <td>2096583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF11__AutochartingFailure_in_Inline_LDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF11__AutochartingFailure_in_Inline_LDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:37:39</td>   <td>3082305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChartCheck_Failure.GF_SIL_CCF12__AutochartingFailure_in_Setup_LDS()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">GF_SIL_CCF12__AutochartingFailure_in_Setup_LDS</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:16</td>   <td>-420786</td> <td title="&gt;&gt;ChartCheck_Failure.Pre_Execution()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;Pre_Execution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:56</td>   <td>-380465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:46:21</td>   <td>4680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:51:04</td>   <td>287910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:56:15</td>   <td>598677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:01:23</td>   <td>906345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:06:49</td>   <td>1232730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:11:21</td>   <td>1504801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:16:05</td>   <td>1788199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:21:13</td>   <td>2096583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 08:37:39</td>   <td>3082305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.VerifyServerConnection()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;VerifyServerConnection</td> 
<td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="67b9bf">  <td>20/07/28 07:39:54</td>   <td>-382638</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChartCheck_Failure.initaiteData()[pri:0, instance:regressionSuite.ChartCheck_Failure@7331196b]">&gt;&gt;initaiteData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
</table>
